*{
    margin: 0%;
    padding: 0%;
}
header{
    width: 84.6rem;
    height: 20rem;
    background-image: url(/Imágenes/banner.jpg);
    background-repeat:space;
    h1{
        font-size: 2rem;
        padding: 3rem 32rem ;
        margin: 0%;
        font-family: 'Indie Flower', cursive;
        word-spacing: 2px;
        color: #c7708a;
    }
}

.content{
    margin: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .cat{
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.199);
            border-radius: 10px;
        }
    }
}


